astroid==2.3.3
attrs==19.3.0
autopep8==1.5
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
coloredlogs==10.0
coverage==5.0.3
cryptography==2.8
future==0.18.2
humanfriendly==4.18
idna==2.8
importlib-metadata==1.5.0
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.5.0
mccabe==0.6.1
more-itertools==8.2.0
multitasking==0.0.9
numpy==1.18.1
packaging==20.1
pandas==1.0.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.5.0
pycparser==2.19
pylint==2.4.4
pyparsing==2.4.6
pytest==5.3.5
pytest-cov==2.8.1
python-dateutil==2.8.1
python-telegram-bot==12.3.0
pytz==2019.3
requests==2.22.0
simplejson==3.17.0
six==1.14.0
tornado==6.0.3
typed-ast==1.4.1
urllib3==1.25.8
wcwidth==0.1.8
wrapt==1.11.2
yfinance==0.1.54
zipp==2.1.0
